<%- include('./partials/adminHeader.ejs') %>

<style>
  input.is-invalid {
    border-color: red;
    background-color: #ffe6e6;
  }
</style>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div
        class="col-12 d-flex no-block align-items-center justify-content-between"
      >
        <h4 class="page-title">Add category</h4>
        <a href="/admin/categoryM" class="btn btn-rounded btn-dark"
          ><i class="fa fa-chevron-circle-left"> Back</i></a
        >
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->

    <!-- Column -->

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add a new category</h4>
            <form
              action="/admin/categoryM/addCategory"
              method="post"
              class="mt-3"
              id="categoryForm"
            >
              <div
                class="d-flex align-items-center justify-content-center"
              >
                <div class="">
                  <label for="Name">Category</label>
                  <input
                    type="text"
                    name="category"
                    id="categoryName"
                    placeholder="category"
                    required
                  />
                  <b class="text-danger"> <%= error %> </b>
                  <label
                    id="categoryError"
                    class="text-danger"
                  ></label>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-dark" type="submit">
                  Add Category
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<script>
  // Get the form element
  const form = document.getElementById('categoryForm');

  // Add an event listener for form submission
  form.addEventListener('submit', function (event) {
    // Prevent the form from submitting
    event.preventDefault();

    // Get the input fields
    const name = document.getElementById('categoryName');

    // Get the error message elements
    const categoryError = document.getElementById('categoryError');

    // Validate the input fields
    let isValid = true;

    if (name.value.trim().length < 3) {
      name.classList.add('is-invalid');
      categoryError.textContent =
        'category name should not be empty spaces';
      isValid = false;
    } else {
      name.classList.remove('is-invalid');
      categoryError.textContent = '';
    }

    // If the form is valid, submit it
    if (isValid) {
      form.submit();
    }
  });
</script>

<%- include('./partials/adminFooter.ejs') %>
