<%- include('./partials/adminHeader.ejs') %>

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div
        class="col-12 d-flex no-block align-items-center justify-content-between"
      >
        <h3 class="page-title">Add coupon</h3>
        <a href="/admin/couponM" class="btn btn-rounded btn-dark"
          ><i class="fa fa-chevron-circle-left"> Back</i></a
        >
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->

    <!-- Column -->

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body" style="background-color: #061c31">
            <h4 class="card-title text-success">Add a new Coupon</h4>
            <form
              class="form-horizontal mt-4"
              action="/admin/couponM/addCoupon"
              method="post"
            >
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="text-white">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="coupon name"
                    required
                  />
                </div>
                <div class="form-group col-md-4">
                  <label class="text-white" for="Code">Code</label>
                  <input
                    type="text"
                    id="Code"
                    name="code"
                    class="form-control"
                    placeholder="coupon code"
                    required
                  />
                </div>
                <div class="form-group col-md-4">
                  <label class="text-white">Discount</label>
                  <input
                    type="number"
                    class="form-control"
                    name="discountPercentage"
                    placeholder="discount percentage"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-4">
                  <label class="text-white">Min purchase amount</label>
                  <input
                    type="text"
                    class="form-control"
                    name="minPurchaseAmount"
                    placeholder="minimum purchase amount of the coupon"
                    required
                  />
                </div>

                <div class="form-group col-md-4">
                  <label class="text-white">Max discount amount</label>
                  <input
                    type="text"
                    class="form-control"
                    name="maxDiscountAmount"
                    placeholder="maximum amount that can be given as a discount "
                    required
                  />
                </div>

                <div class="form-group col-md-4">
                  <label class="text-white">Expiry</label>
                  <input
                    type="date"
                    class="form-control"
                    name="expiryDate"
                    placeholder="expiry date of the coupon"
                    required
                  />
                </div>
              </div>

              <div class="d-flex justify-content-center mt-4">
                <button id="submit" class="btn btn-success" type="submit">
                  <span class="text-white"> Add Coupon</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<%- include('./partials/adminFooter.ejs') %>
