<%- include('./partials/header') %>


    <style>
        .checkout-main {
            width: 100vw;
            background-color: var(--lightGrey);
            min-height: 80vh;
        }

        .price-item {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .price-item label {
            font-size: 1.1rem;
        }

        .price-item b {
            font-size: 1.2rem;
        }

        .price-item button {
            height: 50px;
            border: none;
            outline: none;
            background-color: var(--black);
            color: white;
            font-weight: 550;
        }

        .coupon-item input {
            border: none;
            width: 100%;
            height: 50px;
            outline: none;
            background-color:black;
            padding-left: 10px;
        }

        .cart-price-details {
            background-color: var(--white);
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px;

        }
    </style>

    <div class="checkout-main">
        <div class="container">
            <div class="row d-flex flex-column align-items-center justify-content-center">
                <h3 class="text-center mt-5">Payment Gateway</h3>
                <form action="/pay-now" method="post" class="cart-price-details w-50">
                    <input type="text" name="addressId" value="" style="height: 0px; visibility: hidden;" />
                    <div class="price-item">
                        <label for="">Total amount</label>
                        <b>₹ <%= totalAmount %></b>
                    </div>
                    <div class="price-item">
                        <label for="">Coupon discount</label>
                        <b id="couponPrice" class="text-success">₹ 0</b>
                    </div>
                    <div class="price-item">
                        <label for="">Amount to pay</label>
                        <b id="amountPayable">₹ <%= amountToPay %></b>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-rounded btn-danger" type="submit">Pay Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <%- include('./partials/footer') %>