<%- include('./partials/header.ejs') %>

<style>
  @media (max-width: 991px) {
    .login_form_inner {
      padding-top: 40px;
    }
  }
  .login_form_inner {
    padding-top: 50px;
  }
  .section_gap {
    padding: 50px;
  }
</style>

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="login_form_inner mb-3">
          <h3>Create Account</h3>
          <form
            class="row login_form"
            action="/signup"
            method="post"
            id="signupForm"
          >
            <div class="col-md-12 form-group">
              <div class="d-flex justify-content-start mb-1">
                <label for="name"
                  ><span class="text-dark">Full Name :</span></label
                >
              </div>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Full Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Full Name'"
                minlength="5"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <div class="d-flex justify-content-start mb-1">
                <label for="email"
                  ><span class="text-dark">Email :</span></label
                >
              </div>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                required
              />
              <label for="Invalid" class="text-danger"><%= error %></label>
            </div>
            <div class="col-md-12 form-group">
              <div class="d-flex justify-content-start mb-1">
                <label for="password"
                  ><span class="text-dark">Password :</span></label
                >
              </div>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                minlength="6"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <div class="d-flex justify-content-start mb-1">
                <label for="mobile"
                  ><span class="text-dark">mobile :</span></label
                >
              </div>
              <input
                type="tel"
                class="form-control"
                id="mobile"
                name="mobile"
                placeholder="+91"
                pattern="[0-9]{10}"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = '+91'"
                minlength="10"
                required
              />
              <small>Format: 8234567898</small>
            </div>
            <div class="col-md-12 form-group">
              <div class="d-flex justify-content-start mb-1">
                <label for="place"
                  ><span class="text-dark">Place :</span></label
                >
              </div>
              <input
                type="text"
                class="form-control"
                id="place"
                name="place"
                placeholder="Street & City"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Street & City'"
                minlength="5"
                required
              />
            </div>

            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="primary-btn">
                Register
              </button>
              <a href="/login" style=" font-size: medium;">Already have an account? Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->
