<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link
      rel="shortcut icon"
      href="https://res.cloudinary.com/dbmujhmpe/image/upload/v1680153717/booknook/Component_4_hxynzk.png"
    />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>BookNook</title>
    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/nouislider.min.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- font Awesome  -->
    <script
      src="https://kit.fontawesome.com/4bb28dc21d.js"
      crossorigin="anonymous"
    ></script>

    <!-- font awesome -->

    <!--------------- Image zoom --------------->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Basic Styles For Gallery -->
    <link rel="stylesheet" type="text/css" href="/imageZoom/style.css" />

    <!---------------  Image zoom ------------------>
    <!--------------- Swal ------------------>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  </head>

  <body style="background-color: #f1f1f1">
    <!-- Start Header Area -->
    <header class="header_area" style="position: fixed; top: 0">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="/"
              ><img
                src="https://res.cloudinary.com/dbmujhmpe/image/upload/v1680153717/booknook/Component_4_hxynzk.png"
                width="30%"
                alt=""
              /><span class="ml-3"
                >Book<span class="text-danger">Nook</span></span
              ></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart"
                    ><span style="font-size: large"
                      ><i class="fa-solid fa-cart-shopping"></i></span
                  ></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/wishlist"
                    ><span style="font-size: large"
                      ><i class="fa-regular fa-heart"></i></span
                  ></a>
                </li>
                <% if (user) { %>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    ><span style="font-size: large"
                      ><i class="fa-solid fa-circle-user"></i>
                    </span>
                    <%= user.name %>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile"
                        ><i class="fa-solid fa-address-card"></i> Profile</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/myOrders"
                        ><i class="fa-solid fa-box-open"></i> My orders</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/coupons"
                        ><i class="fa-solid fa-ticket"></i> Coupons</a
                      >
                    </li>
                    <li class="nav-item">
                      <form
                        action="/logout"
                        method="post"
                        id="logoutForm"
                      >
                        <button
                          class="nav-link"
                          type="submit"
                          style="width: 100%"
                        >
                          <i class="fa-solid fa-right-from-bracket"></i> Logout
                        </button>
                      </form>
                    </li>
                  </ul>
                </li>
                <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login"
                    ><span style="font-size: large"
                      ><i class="fa-solid fa-circle-user"></i
                    ></span>
                    LogIn <i class="fa-solid fa-right-to-bracket"></i
                  ></a>
                </li>
                <% } %>
              </ul>
              <!-- <ul class="nav navbar-nav navbar-right">
						</ul> -->
            </div>
          </div>
        </nav>
      </div>
      <!-- <div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div> -->
    </header>
    <!-- End Header Area -->
    <section>
      <div class="container-fluid" style="height: 7.5rem"></div>
    </section>
    <!-- start banner Area -->
    <!-- End banner Area -->

  </body>
    <script>
      const logoutForm = document.getElementById('logoutForm');
      logoutForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        Swal.fire({
          text: 'Do you really want to logout from your account?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Logout!',
        }).then((result) => {
          if (result.isConfirmed) {
            logoutForm.submit();
          }
        });
      });
    </script>
</html>
